<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>
		<?php echo __('Guest Book') ?>:
		<?php echo $this->fetch('title'); ?>
	</title>
	<?php
		echo $this->Html->meta('icon');

		echo $this->Html->css('cake.generic');

		echo $this->fetch('meta');
		echo $this->fetch('css');
		echo $this->fetch('script');
	?>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1 style="float: left"><?php echo $this->Html->link(__('Guest Book'), array('controller' => 'records', 'action' => 'index')); ?></h1>
			<?php
				if ($authUser)
					echo $this->Html->link(__('Logout'), array('controller' => 'users', 'action' => 'logout'), array('confirm' => __('Are you sure you want to logout?'), 'style' => 'float: right; margin-left: 10px;'));
			?>
			<div style="float: right">
				<?php echo $this->Html->link(__('RU'), array('action' => 'rus')); ?>
				<?php echo $this->Html->link(__('EN'), array('action' => 'eng')); ?>
			</div>
		</div>
		<div id="content">

			<?php echo $this->Flash->render(); ?>

			<?php echo $this->fetch('content'); ?>
		</div>
		<div id="footer">
			<?php echo $this->Html->link(
					$this->Html->image('cake.power.gif', array('border' => '0')),
					'http://www.cakephp.org/',
					array('target' => '_blank', 'escape' => false, 'id' => 'cake-powered')
				);
			?>
		</div>
	</div>
	<?php echo $this->element('sql_dump'); ?>
</body>
</html>
